include README.md LICENSE
include RegisterProfileEditor/templates/*.html
include RegisterProfileEditor/Views/*.py
include RegisterProfileEditor/IOHandle/*.py
include RegisterProfileEditor/styles/*.py
include RegisterProfileEditor/styles/*.png